.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 18px;
  transition: opacity .5s linear;
}

.header__lang-link:hover {
  opacity: .8;
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
