.photo-grid {
  padding: 92px 48px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 64px 16px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 12px;
  }
}
