.lead__title {
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  width: 720px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 500px;
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width: 575px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
