.intro {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 14px 0;
  }
}
