.lead__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 32px;
  width: 640px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    width: 400px;
    font-size: 19px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-top: 16px;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

