.cover {
  height: 51.4vw;
  padding: 92px 48px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1205px) {
  .cover {
    padding: 92px 0;
    height: 62.5vw;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 90px 0;
  }
}

@media screen and (max-width: 575px) {
  .cover {
    padding: 66px 0;
  }
}
