.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  width: 1184px;
  height: 51.4vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.cover__overlay::before {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity .6s linear;
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1205px) {
  .cover__overlay {
    width: 100%;
    height: 62.5vw;
  }
}


