.lead__caption {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 945px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
