.place {
  display: grid;
  grid-template: minmax(min-content, max-content) 460px/460px minmax(484px, 1fr);
  gap: 48px 40px;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template: minmax(min-content, max-content) 440px/440px minmax(456px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template: minmax(46px, max-content) minmax(340px, 1fr)/repeat(2, minmax(340px, 1fr));
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template: repeat(auto-fit, minmax(35px, max-content))/repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
}
