.place__paragraphes {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(116px, max-content));
  gap: 26px;
}

@media screen and (max-width:1023px) {
  .place__paragraphes {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .place__paragraphes {
    padding: 0 16px;
  }
}
